<!DOCTYPE html>
<html lang="en">

<head>
  <title>Geoportal</title>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <!-- <link rel="stylesheet" href="/static/main.css"/> -->
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
  </script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" type="text/css">
  <script type=text/javascript src="{{
    url_for('static', filename='js/main.js') }}"></script>


</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <header>
      <a class="navbar-brand" href="#">Geoportal</a>
    </header>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Autenticarse</a>
        {% else %}
        <a class="nav-link" href="{{ url_for('logout') }}">Cerrar sesión</a>
        {% endif %}
      </li>

    </ul>
  </nav>

  <main class="container-fluid">
    <div class="row no-gutters">
      <section class="col-6">
        <div id="map"></div>
        <!-- Comentario debajo del mapa -->
        <button id="buttonReset" onclick="resetMapZoom()" class="btn bg-secondary text-white">Resetear Zoom</button>
      </section>
      <aside class="col">
        <header>
          <h3>Panel de detalles</h3>
        </header>
        {% block asideForm %} {% endblock %}
      </aside>
    </div>
    <!-- <input type="button" onclick="resetMapZoom()" value="Reiniciar posicion del mapa" /> -->
  </main>

  <!-- <footer>
    <section>Pie de página</section>
  </footer> -->

  <script>
    var map = L.map("map", {
      center: [42.7674234, -7.8984065],
      zoom: 7.5,
      transparent: false,
    });



    var OSM1 = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/toner-lite/{z}/{x}/{y}{r}.{ext}', {
      attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
      subdomains: 'abcd',
      minZoom: 0,
      maxZoom: 20,
      ext: 'png'
    }).addTo(map);

    var OSM2 = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxzoom: 30,
      transparent: true
    });


    var mapaBaseOSM = {
      "Mapa base en blanco": OSM1,
      "Mapa base en color": OSM2
    };


    // L.control.layers(mapaBaseOSM).addTo(map);

    // var mapaBaseOSM = {
    //   'OSM': L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    //     maxzoom: 30,
    //     transparent: true
    //   }).addTo(map)
    // };



  </script>



  {% block script %} {% endblock %}
</body>

</html>
