<div>
    <p class="text-white bg-dark">Está viendo las medidas de kpi asociadas al componente {{componenteid}} que pertenece
        al activo
        {{activoid}}</p>
</div>


<table id="tablaResultadosComponentes" class="table table-striped table-hover tablaScroll">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Valor</th>
            <th scope="col">Kpi</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>

        {% for x in resultado %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{x.idMedicion}}</td>
            <td>{{x.valor}}</td>
            <td>{{x.nombreKpi}}</td>
            <td>
                <input type="button" class="btn bg-secondary text-white" onclick="abreAcciones('{{componenteid}}')"
                    value="modificar">
            </td>

        </tr>
        {% endfor %}


    </tbody>

</table>


<button id="buttonComponentNav" onclick="escondeDetallesMuestraTabla()" class="btn bg-secondary text-white">Volver
    a los
    activos</button>

<button id="buttonComponentNav" onclick="vercomponentes({{activoid}})" class="btn bg-secondary text-white">Volver
    a
    los componentes del activo {{activoid}}</button>
