{% extends "/base/base.html" %}

{% block script %}

<!-- javascript parte del mapa -->
<script>

    var overlayMaps = {
        'ALL': L.tileLayer.wms('http://localhost:8080/geoserver/TFG_Geoportal/wms?', {
            layerName: 'all',
            layers: 'estrada_l_25',
            format: 'image/png',
            transparent: true,
        }),      

        {% for tipoEstrada in tiposEstrada %}
    '{{tipoEstrada}}': L.tileLayer.wms('http://localhost:8080/geoserver/TFG_Geoportal/wms?', {
        layerName: 'tipoestrada',
        layers: 'estrada_l_25',
        format: 'image/png',
        CQL_FILTER: 'categoria=\'{{tipoEstrada}}\'',
        transparent: true,
    }),
        {% endfor %}
        }

    L.control.layers(mapaBaseOSM, overlayMaps).addTo(map);

</script>

<script>
    function resetMapZoom() {
        map.setView([42.7674234, -7.8984065], 7.5)
    }
    function sendcheckboxes() {
        //formar lista de id con los que tienen el check activado
        var checked = []
        var id_checkbox = ''
        $("input[name='tramo']:checked").each(function () {
            checked.push(parseInt($(this).val()));
            id_checkbox = parseInt($(this).val())
        });
        // ajax para obtener los tramos con matricula coincidente..
        if (id_checkbox == '') {
            dibujaFamilia('')
            dibujaTramo('')
            resetMapZoom()
        }
        else {
            $.ajax({
                url: "/matriculas",
                data: {
                    id_tramo: id_checkbox,
                },
                type: "GET",
                dataType: "json",
                success: function (response) {
                    dibujaFamilia(response.json_list, id_checkbox) // dibuja la familia
                    dibujaTramo(id_checkbox) // dibuja el tramo especifico                
                }
            });
        }
    }

    var layercarreteraresaltada = false
    function dibujaTramo(tramo) {
        //borrado de la layer anterior con global var para que no se borre
        try {
            map.eachLayer(function (layer) {
                if (layer._leaflet_id == layercarreteraresaltada) {
                    map.removeLayer(layer)
                }
            })
        } catch (err) { }

        //peticion (si procede) al wms pasando los tramos a resaltar y centrar
        if (tramo.length == 0) { return }
        var layer = L.tileLayer.wms('http://localhost:8080/geoserver/TFG_Geoportal/wms?', {
            layers: 'estrada_l_25_aux',
            format: 'image/png',
            CQL_FILTER: 'objectid =' + tramo,
            transparent: true,
            success: centramapa(tramo)
        }).addTo(map)
        //guardado del id de la capa en la var para que luego la borre
        layercarreteraresaltada = layer._leaflet_id
        // console.log(layercarreteraresaltada)
    }

    var layerfamiliaresaltada = false
    function dibujaFamilia(tramos, centerid) {
        //borrado de la layer anterior con global var para que no se borre
        try {
            map.eachLayer(function (layer) {
                if (layer._leaflet_id == layerfamiliaresaltada) {
                    map.removeLayer(layer)
                }
            })
        } catch (err) { }

        //peticion (si procede) al wms pasando los tramos a resaltar y centrar
        if (tramos.length == 0) { return }
        var layer = L.tileLayer.wms('http://localhost:8080/geoserver/TFG_Geoportal_aux2/wms?', {
            layers: 'estrada_l_25',
            format: 'image/png',
            CQL_FILTER: 'objectid IN (' + tramos + ')',
            transparent: true,
            success: centramapa(centerid)
        }).addTo(map)
        //guardado del id de la capa en la var para que luego la borre
        layerfamiliaresaltada = layer._leaflet_id
        // console.log(layercarreteraresaltada)
    }

    // centrado de mapa
    function centramapa(tramoid) {
        $.ajax('http://localhost:8080/geoserver/TFG_Geoportal/wfs?', {
            type: 'GET',
            data: {
                service: 'WFS',
                version: '1.1.0',
                request: 'GetFeature',
                typename: 'TFG_Geoportal:estrada_l_25_aux',
                CQL_FILTER: 'objectid = ' + tramoid,
                outputFormat: 'json',
                srsname: 'EPSG:4326',
            },
            dataType: 'json',
            success: function (data) {
                var requiredArea = L.geoJson(data).getBounds()
                var cord = data.features[0].geometry.coordinates
                map.setView(cord[0][0].reverse(), 14)
            }
        })
    }


    // creaeción de la paginacion de resultados
    function renderNavegacion(infoPaginacion) {
        //almohadilla para id y . para clase
        console.log(infoPaginacion)
        var todoslosoptions = ''
        for (i = 1; i <= infoPaginacion["pages"]; i++) {
            if (i != infoPaginacion["page"]) {
                todoslosoptions += '<option value =' + i + ' >' + i + '</option>'
            }
            else {
                todoslosoptions += '<option selected value =' + i + ' >' + i + '</option>'
            }
        }

        $('#navegacion').html("" +
            '<li class="page-item"><a class="page-link" onclick="resetMapZoom()" value="Reiniciar posicion del mapa" href="#">Reset map</a></li>' +
            '<li class="page-item"><a class="page-link" onclick="cambiarPagina(1)" href="#">First</a></li>' +
            '<li class="page-item"><a class="page-link" onclick="cambiarPagina(' + infoPaginacion["prev_num"] + ')" href="#">Previous</a></li>' +
            '<li class="page-item"><a class="page-link" onclick="cambiarPagina(' + infoPaginacion["next_num"] + ')" href="#">Next</a></li>' +
            '<li class="page-item"><a class="page-link" onclick="cambiarPagina(' + infoPaginacion["pages"] + ')" href="#">Last</a></li>' +
            '<form><select id=selectPaginacion class=form-select>' + todoslosoptions + '</select></form>') +
            // <input type="button" onclick="resetMapZoom()" value="Reiniciar posicion del mapa" />

            $('#selectPaginacion').on('change', function () {
                cambiarPagina(this.value)
            })
    }


    // popup para la edicion de tramo
    function abrepopup(tramoid) {
        //equivalente a pasarle la ruta por /, llamo a la funcion en vez de eso
        //window.open(URL, name, specs, replace)
        window.open('{{ url_for('forminsert') }}?tramo=' + tramoid, 'editTramoPopup', height = '200', width = '200') //FIXME https://www.w3schools.com/jsref/met_win_open.asp
    }


    //Función para renderizar el resultado de la peticion ajax
    //devuelve la consulta
    function renderFormResults(response) {
        var len = Object.keys(response.json_list).length;
        $("#tablaResultados > tbody").empty()
        for (i = 0; i < len; i++) {
            var aux = response.json_list[i];
            $("#tablaResultados > tbody").append(
                //tr inicia una fila nueva
                '<tr class = "idEstrada">' +
                '<td>' + (i + 1) + '</td>' +
                '<td>' + aux.id + '</td>' +
                '<td>' + aux.categoria + '</td>' +
                '<td>' + aux.tipo + '</td>' +
                '<td>' + aux.matricula + '</td>' +
                '<td class="td">' +
                // opcion con checkboxes pero que tiene reset cuando no esta ninguno
                // '<input type="checkbox" name="tramo" onclick="sendcheckboxes()" value="' + aux.id + '" ">' +
                '<input type="radio" name="tramo" onclick="sendcheckboxes()" value="' + aux.id + '" ">' +
                '</td>' +
                //td inicia celda nueva
                '<td class="td">' +
                '<input type="button" onclick="abrepopup(' + aux.id + ')" value="editar">' +
                '</td>' +
                '</tr>')
        }
        //llamo a renderNavegacion pasandole unicamente los metadatos del json
        renderNavegacion(response.metadata[0])
        //muestra del primero hacia abajo, resetea el scroll
        $("#divResultados").scrollTop(0).show();
    }


    //peticion ajax mandandole la categoria
    $(function () {
        //click en enviar
        $("#ajaxTrigger_form").click(function () {
            $.ajax({
                url: "/consultasFilter",
                data: $("form").serialize(),
                type: "POST",
                dataType: "json",
                success: renderFormResults
            });
        });
    });



    // paginación
    function cambiarPagina(pagina) {
        // $(".page-link").click(function () {
        $.ajax({
            url: "/consultasFilter?page=" + pagina,
            data: $("form").serialize(),
            type: "POST",
            dataType: "json",
            success: renderFormResults
        })
    }

</script>


{% endblock %}


{% block asideForm %}

<!--variable de flask que toma la url en donde estoy-->
<!-- Formulario -->
<form action="{{ url_for(request.endpoint) }}" method="POST">
    <div class="mb-3">
        <label for="categoria" class="form-label">Selecciona una categoría:</label>
        <select name="categoria" class="form-select">
            {% for tipoEstrada in tiposEstrada %}
            <option value="{{tipoEstrada}}">{{tipoEstrada}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <button id="ajaxTrigger_form" type="button" class="btn btn-primary">Enviar</button>
    </div>
</form>
<br></br>

<style>
    #tablaResultados {
        width: 100%;
    }
</style>


<div id="divResultados" style="display:none;height:330px" class="scroll border rounded overflow-auto">
    <table id="tablaResultados" class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Categoria</th>
                <th scope="col">Tipo</th>
                <th scope="col">Matricula</th>
                <th scope="col">Ver en el mapa</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <div id="navegacion" class=pagination></div>
    </ul>
</nav>


{% endblock %}
