{% extends "/base/base.html" %}

{% block script %}

<!-- javascript parte del mapa -->
<script>

    var overlayMaps = {
    {% for tramoJson in tramosJson %}
    '{{tramoJson.properties.Tramo}}': L.geoJSON({{ tramoJson| safe }}, {
        {% if tramoJson.properties.Tramo == 'tramo1' %}
    style: tramo1Style
    {% else %}
    style: tramo2Style
    {% endif %}

    }),
    {% endfor %}
    
    }

    L.control.layers(mapaBaseOSM, overlayMaps).addTo(map);

</script>



{% endblock %}

{% block asideForm %}

<!--SELECCIONAR CATEGORIA-->
<!-- Formulario -->
<form action="{{ url_for(request.endpoint) }}" method="POST">
    <div class="mb-3">
        <label for="tramo" class="form-label">Seleccione un tramo:</label>
        <select name="tramo" class="form-select">
            {% for tramo in tramosJson %}
            <option value="{{tramo.properties.id}}">{{tramo.properties.Tramo}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <button type="button" class="btn bg-secondary text-white" onclick="pedirActivos()">Enviar</button>
    </div>
</form>
<br></br>


<!-- CARA A -->
<div id="divResultados" style="display:none">
</div>




<!-- CARA B -->
<div id="divAcciones" style="display:none">
    <div id="injectTarget" style="height:330px"></div>
</div>

{% endblock %}
