{% extends "/base/base.html" %}

{% block asideForm %}
<!-- {{ mapa }} -->

{% endblock %}

{% block script %}
<script>


    var tramo = {{ mapa | safe }}

    var styleAutoestrada = {
        "color": "#0477c2",
        "weight": 1,
        "opacity": 1
    };

    // var i = 0
    // for (var x = 0; i < tramo.length; i++) {
    //     x = i
    //     console.log(x)
    //     console.log(i)

    // };

    var i = 0
    var cat = {{ categorias | safe }}

    for (i; i < cat.length; i++) {
        // console.log(cat[i])
        cat[i] = L.geoJSON(tramo[i]), {
            style: styleAutoestrada
        }
    }





    autoestradaAutovia = L.geoJSON(tramo[0], {
        style: styleAutoestrada
    })


    var overlays = {
        "SECUNDARIA": cat[0],
        "AUTOESTRADA_AUTOVIA": cat[1],
        "VIA_RAPIDA": cat[2],
        "PRIMARIA_BASICA": cat[3],
        "REDE_ESTATAL": cat[4],
        "DEPUTACION": cat[5],
        "PRIMARIA_COMPLEMENT": cat[6],
        "RUA": cat[7],
        "PISTA": cat[8],
        "OUTRAS_ESTRADAS": cat[9],
        "CORREDOR": cat[10],
    }
    L.control.layers(mapaBaseOSM, overlays).addTo(map);
</script>
{% endblock %}
